* {
 box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
    margin-top: 80px;
    margin-bottom:80px;
}

header {
    width: 100vw;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 22px;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 20;

}

header ion-icon{
    font-size: 50px;
}

section{
    width: 100vw;
    height: auto;
    padding-top: 26px;
}

ul {
    width: 100vw;
}
li {
    margin-top: 4px;
    padding-left: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    width: 100vw;
    background-color: aqua;
}

.time {
    color: #AAAAAA;
}
.from {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
footer {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 0px 22px;
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    z-index: 1;
}

footer ion-icon {
    font-size: 35px;
}

input {
    width: 80%;
    height: 100%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

